<ion-header>
  <ion-toolbar class="ion-toolbar" mode="md">
    <ion-buttons slot="start" mode="md">
      <ion-button (click)="cerrarModal();" style="color:white;" mode="md">
        <ion-icon slot="icon-only" name="arrow-back" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md">Permisos</ion-title>
    <ion-buttons slot="end" mode="md">
      <ion-button (click)="cambiarBandera()" style="color:white;" mode="md">
        <ion-icon slot="icon-only" name="options" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar mode="md">
    <div class="contenedor-titulo">
      <div class="parte-abajo">
        <h1 class="titulo-permisos" style="text-align:-webkit-center;">
          <ion-text color="secondary">
            Mostrar ~
          </ion-text>
          <ion-text color="dark">
            Crear ~
          </ion-text>
          <ion-text color="primary">
            Editar ~
          </ion-text>
          <ion-text color="danger">
            Borrar
          </ion-text>
        </h1>
      </div>
    </div>
    <div class="contenedor-opciones" *ngIf="banderaOpciones">
      <ion-item mode="md" class="item-lista" lines="none">
        <ion-label>Cambiar Opciones de Forma Masiva</ion-label>
      </ion-item>

      <div>
        <ion-item mode="md" class="item-toggles" lines="none">
          <ion-toggle mode="md" color="secondary" (ionChange)="cambioMasivo('r')"></ion-toggle>
          <ion-toggle mode="md" color="dark" (ionChange)="cambioMasivo('c')"></ion-toggle>
          <ion-toggle mode="md" color="primary" (ionChange)="cambioMasivo('u')"></ion-toggle>
          <ion-toggle mode="md" color="danger" (ionChange)="cambioMasivo('d')"></ion-toggle>
          <!--
          <ion-buttons slot="end">
            <ion-button (click)="cancelar();" style="color:black;">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
          -->
        </ion-item>
      </div>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list-header mode="md">
    Lista de Permisos por Página
  </ion-list-header>
  <hr class="linea-final">

  <ion-list>
    <div *ngFor="let menu of menus; index as i">
      <ion-item mode="md" class="item-lista" (click)="banderas[i]=!banderas[i]" lines="none">
        <ion-label >{{menu.title}}</ion-label>
      </ion-item>

      <div *ngIf="banderas[i]==true">
        <ion-item mode="md" class="item-toggles" lines="none">
          <ion-toggle mode="md" color="secondary" [(ngModel)]="menu.permission.r"></ion-toggle>
          <ion-toggle mode="md" color="dark" [(ngModel)]="menu.permission.c"></ion-toggle>
          <ion-toggle mode="md" color="primary" [(ngModel)]="menu.permission.u"></ion-toggle>
          <ion-toggle mode="md" color="danger" [(ngModel)]="menu.permission.d"></ion-toggle>
        </ion-item>
      </div>
      <hr class="linea-final">
    </div>
  </ion-list>

  <ion-button mode="md" class="ion-button" color="tertiary" (click)="guardarPermisos()">
    Guardar Permisos
  </ion-button>
</ion-content>
