<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal();" style="color:white;">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Permisos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="contenedor-titulo">
      <div class="parte-abajo">
        <h1 class="titulo-permisos" style="text-align:-webkit-center;">
          <ion-text color="secondary">
            Mostrar ~
          </ion-text>
          <ion-text color="dark">
            Crear ~
          </ion-text>
          <ion-text color="primary">
            Editar ~
          </ion-text>
          <ion-text color="danger">
            Borrar
          </ion-text>
        </h1>
      </div>
    </div>

    <ion-item-divider>
    </ion-item-divider>

    <ion-item *ngFor="let menu of menus">
      <ion-label >{{menu.title}}</ion-label>
      <ion-toggle color="secondary" [(ngModel)]="menu.permission.r"></ion-toggle>
      <ion-toggle color="dark" [(ngModel)]="menu.permission.c"></ion-toggle>
      <ion-toggle color="primary" [(ngModel)]="menu.permission.u"></ion-toggle>
      <ion-toggle color="danger" [(ngModel)]="menu.permission.d"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-button class="ion-button" color="tertiary" (click)="guardarPermisos()">
    Guardar Permisos
  </ion-button>
</ion-content>
