<ion-header>
  <ion-toolbar>
    <ion-title>exportar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:792px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px">
  <img src="./assets/icon/background1.jpg" width=595 height=792></div>
  <div style="position:absolute;left:406.36px;top:72.33px" class="cls_002"><span class="cls_002">R.U.T.:77.086.959- 5</span></div>
  <div style="position:absolute;left:171.55px;top:81.94px" class="cls_002"><span class="cls_002">AGUAS GAMALIER DANIEL</span></div>
  <div style="position:absolute;left:171.55px;top:95.14px" class="cls_002"><span class="cls_002">FARIAS DIAZ EMPRESA</span></div>
  <div style="position:absolute;left:390.19px;top:98.73px" class="cls_002"><span class="cls_002">FACTURA ELECTRONICA</span></div>
  <div style="position:absolute;left:171.55px;top:108.34px" class="cls_002"><span class="cls_002">INDIVIDUAL DE RESPONSABILIDA</span></div>
  <div style="position:absolute;left:173.77px;top:124.54px" class="cls_003"><span class="cls_003">Giro: VENTA DE AGUA E INSUMOS</span></div>
  <div style="position:absolute;left:445.93px;top:125.13px" class="cls_002"><span class="cls_002">Nº34</span></div>
  <div style="position:absolute;left:171.55px;top:137.74px" class="cls_003"><span class="cls_003">RELACIONADOS</span></div>
  <div style="position:absolute;left:383.50px;top:146.77px" class="cls_005"><span class="cls_005">S.I.I. - SANTIAGO NORTE</span></div>
  <div style="position:absolute;left:171.55px;top:150.94px" class="cls_003"><span class="cls_003">PASAJE JORGE EDWARDS 2517 VALLE VERDE</span></div>
  <div style="position:absolute;left:171.55px;top:164.14px" class="cls_003"><span class="cls_003">3- COLINA</span></div>
  <div style="position:absolute;left:383.50px;top:174.17px" class="cls_003"><span class="cls_003">Fecha Emision:</span><span class="cls_004"> 05 de Febrero del 2020</span></div>
  <div style="position:absolute;left:171.55px;top:177.34px" class="cls_003"><span class="cls_003">eMail :</span></div>
  <div style="position:absolute;left:171.55px;top:187.54px" class="cls_003"><span class="cls_003">PURIFIED.AGUASPREMIUM@OUTLOOK.COM</span></div>
  <div style="position:absolute;left:171.55px;top:200.14px" class="cls_003"><span class="cls_003">Telefono : 0 0</span></div>
  <div style="position:absolute;left:173.77px;top:213.34px" class="cls_003"><span class="cls_003">TIPO DE VENTA: DEL GIRO</span></div>
  <div style="position:absolute;left:83.46px;top:227.12px" class="cls_003"><span class="cls_003">SEÑOR(ES):</span><span class="cls_004"> COMERCIAL JEAN PAUL SOUBLETT RIVERA E.I.R.L.</span></div>
  <div style="position:absolute;left:83.46px;top:239.59px" class="cls_003"><span class="cls_003">R.U.T.:</span></div>
  <div style="position:absolute;left:134.44px;top:239.59px" class="cls_004"><span class="cls_004">76.358.067- 9</span></div>
  <div style="position:absolute;left:83.46px;top:252.05px" class="cls_003"><span class="cls_003">GIRO:</span></div>
  <div style="position:absolute;left:134.44px;top:252.05px" class="cls_004"><span class="cls_004">EMPRESAS DE SERVICIOS DE INGENIERIA Y AC</span></div>
  <div style="position:absolute;left:83.46px;top:264.52px" class="cls_003"><span class="cls_003">DIRECCION:</span><span class="cls_004"> EL CIRUELO 597 LA PRADERA</span></div>
  <div style="position:absolute;left:83.46px;top:276.98px" class="cls_003"><span class="cls_003">COMUNA</span><span class="cls_004">    COPIAPO</span></div>
  <div style="position:absolute;left:239.43px;top:276.98px" class="cls_003"><span class="cls_003">CIUDAD:</span><span class="cls_004">   COPIAPO</span></div>
  <div style="position:absolute;left:83.46px;top:289.45px" class="cls_003"><span class="cls_003">CONTACTO:</span></div>
  <div style="position:absolute;left:83.46px;top:301.91px" class="cls_003"><span class="cls_003">TIPO DE</span></div>
  <div style="position:absolute;left:134.44px;top:306.71px" class="cls_004"><span class="cls_004">DEL GIRO</span></div>
  <div style="position:absolute;left:83.46px;top:311.51px" class="cls_003"><span class="cls_003">COMPRA:</span></div>
  <div style="position:absolute;left:424.72px;top:325.41px" class="cls_003"><span class="cls_003">%Impto</span></div>
  <div style="position:absolute;left:91.91px;top:330.21px" class="cls_003"><span class="cls_003">Codigo</span></div>
  <div style="position:absolute;left:206.09px;top:330.21px" class="cls_003"><span class="cls_003">Descripcion</span></div>
  <div style="position:absolute;left:337.12px;top:330.21px" class="cls_003"><span class="cls_003">Cantidad</span></div>
  <div style="position:absolute;left:391.43px;top:330.21px" class="cls_003"><span class="cls_003">Precio</span></div>
  <div style="position:absolute;left:453.82px;top:330.21px" class="cls_003"><span class="cls_003">%Desc.</span></div>
  <div style="position:absolute;left:508.24px;top:330.21px" class="cls_003"><span class="cls_003">Valor</span></div>
  <div style="position:absolute;left:427.83px;top:335.01px" class="cls_003"><span class="cls_003">Adic.*</span></div>
  <div style="position:absolute;left:82.74px;top:348.19px" class="cls_004"><span class="cls_004">-</span></div>
  <div style="position:absolute;left:132.70px;top:348.19px" class="cls_004"><span class="cls_004">Recargas de 20 litros</span></div>
  <div style="position:absolute;left:344.38px;top:348.19px" class="cls_004"><span class="cls_004">20</span></div>
  <div style="position:absolute;left:401.14px;top:348.19px" class="cls_004"><span class="cls_004">1.513</span></div>
  <div style="position:absolute;left:503.89px;top:348.19px" class="cls_004"><span class="cls_004">30.260</span></div>
  <div style="position:absolute;left:80.60px;top:361.37px" class="cls_003"><span class="cls_003">Forma de Pago:</span><span class="cls_004">Contado</span></div>
  <div style="position:absolute;left:444.50px;top:375.99px" class="cls_003"><span class="cls_003">MONTO NETO</span></div>
  <div style="position:absolute;left:507.82px;top:375.99px" class="cls_003"><span class="cls_003">$</span></div>
  <div style="position:absolute;left:522.36px;top:375.99px" class="cls_004"><span class="cls_004">30.260</span></div>
  <div style="position:absolute;left:460.93px;top:394.18px" class="cls_003"><span class="cls_003">I.V.A. 19%</span></div>
  <div style="position:absolute;left:507.82px;top:394.18px" class="cls_003"><span class="cls_003">$</span></div>
  <div style="position:absolute;left:526.81px;top:394.18px" class="cls_004"><span class="cls_004">5.749</span></div>
  <div style="position:absolute;left:411.60px;top:412.38px" class="cls_003"><span class="cls_003">IMPUESTO ADICIONAL</span></div>
  <div style="position:absolute;left:507.82px;top:412.38px" class="cls_003"><span class="cls_003">$</span></div>
  <div style="position:absolute;left:542.38px;top:412.38px" class="cls_004"><span class="cls_004">0</span></div>
  <div style="position:absolute;left:472.94px;top:430.57px" class="cls_003"><span class="cls_003">TOTAL</span></div>
  <div style="position:absolute;left:507.82px;top:430.57px" class="cls_003"><span class="cls_003">$</span></div>
  <div style="position:absolute;left:522.36px;top:430.57px" class="cls_004"><span class="cls_004">36.009</span></div>
  <div style="position:absolute;left:159.06px;top:459.37px" class="cls_004"><span class="cls_004">Timbre Electrónico SII</span></div>
  <div style="position:absolute;left:112.60px;top:471.97px" class="cls_004"><span class="cls_004">Res.99 de 2014 Verifique documento: </span><A HREF="http://www.sii.cl/">www.sii.cl</A> </div>
  </div>

<!--
  <div class="contenedor-superior">
    <div class="arriba-izquierda">
      <img class="imagen" src="https://cdn.emprender-facil.com/wp-content/uploads/2018/05/pepsi.png">
    </div>

    <div class="arriba-centro">
      <div class="titulo">
        <ion-label><b>EMPRESA BACANA LA PUTA MADRE SPA</b></ion-label>
      </div>
      <div class="contenedor-texto">
        <ion-label>Giro:holaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</ion-label>
      </div>
      <div class="contenedor-texto">
        <ion-label>123123123 calle 29 oriante 5000 sur</ion-label>
      </div>
      <div class="contenedor-texto">
        <ion-label>Email: hola@hmail.com telefono: 123123123123</ion-label>
      </div>
      <div class="contenedor-texto">
        <ion-label>TIPO  DE VENTA: DEL GIRO</ion-label>
      </div>
    </div>

    <div class="arriba-derecha">
        <div class="cuadrado-derecha">
          <div class="contenedor-texto">
            <ion-label>R.U.T.:74-232-323-1</ion-label>
          </div>
          <div class="contenedor-texto">
            <ion-label>FACTURA ELECTRÓNICA</ion-label>
          </div>
          <div class="contenedor-texto numero">
            <ion-label>N-°200</ion-label>
          </div>
      </div>
      <div class="contenedor-texto">
        <ion-label>S.I.I. - TALCA</ion-label>
      </div>
    </div>
  </div>

  <div class="contenedor-centro">
    <div class="centro-izquierda">
      <div class="contenedor-texto">
        <ion-label>SEÑOR(ES): COMERCIAL JEAN PAUL SOUBLETT RIVERA E.I.R.L</ion-label>
      </div>
      <div class="contenedor-texto">
        <ion-label>R.U.T.:    76.358.067- 9</ion-label>
      </div>
      <div class="contenedor-texto">
        <ion-label>DIRECCION: EL CIRUELO 597 LA PRADERA</ion-label>
      </div>
      <div class="contenedor-texto">
        <ion-label>COMUNA COPIAPO CIUDAD: COPIAPO</ion-label>
      </div>
      <div class="contenedor-texto">
        <ion-label>CONTACTO:</ion-label>
      </div>
      TIPO DE
      COMPRA: DEL GIRO
    </div>
    </div>
    <div class="centro-derecha">

  </div>

  <div class="contenedor-inferior">
  </div>
-->
</ion-content>
