<ion-header>
  <ion-toolbar>
    <ion-title>Tipo de Gasto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Tipo de Gasto<ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="tipoGasto.titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Codigo<ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="tipoGasto.codigo"></ion-input>
  </ion-item>

  <ion-button size="medium" (click)="confirmar()">Guardar</ion-button>

  <ion-list>

    <ion-item *ngFor="let g of tipoGastos">
      <ion-label>{{g.titulo}}</ion-label>
    </ion-item>
    <h2 *ngIf="tipoGastos.length == 0">No hay tipos de gastos aun...</h2>
  </ion-list>
</ion-content>
