<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-button routerLink="/administrar" routerDirection="root" color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crear Tipo de Gasto</ion-title>
  </ion-toolbar>

  <ion-list-header>
    <ion-label>Datos del Tipo de Gasto</ion-label>
  </ion-list-header>
    <form>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/609/609147.svg">
        </ion-avatar>
        <ion-label position="stacked">Tipo de Gasto<ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="titulo" [(ngModel)]="tipoGasto.titulo" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/1495/1495706.svg">
        </ion-avatar>
        <ion-label position="stacked">Codigo<ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="codigo" [(ngModel)]="tipoGasto.codigo" required></ion-input>
      </ion-item>

      <ion-button class="ion-button" *ngIf="tipoGasto.id == 0 && bandera==false" size="medium" (click)="confirmar()" [disabled]="tipoGasto.codigo == '' || tipoGasto.titulo==''">Guardar</ion-button>
      <ion-button class="ion-button" *ngIf="tipoGasto.id != 0 && bandera==false" size="medium" (click)="confirmarActualizar()" [disabled]="tipoGasto.codigo == '' || tipoGasto.titulo==''">Actualizar</ion-button>
      <ion-button class="ion-button-cancelar" *ngIf="tipoGasto.id != 0 && bandera==false" size="medium" (click)="cancelar()">Cancelar Actualizar</ion-button>
      <ion-button class="ion-button" *ngIf="bandera==true" size="medium" (click)="cancelar()">Cancelar Ver</ion-button>
    </form>

  <ion-list-header>
    Lista de Tipos de Gastos
  </ion-list-header>

  <ion-item>
    <ion-label *ngIf="verTodos">Todos los Tipos de Gastos</ion-label>
    <ion-label *ngIf="!verTodos">Tipos de Gastos Activos</ion-label>
    <ion-toggle [(ngModel)]="verTodos"></ion-toggle>
  </ion-item>

    <ion-list *ngIf="!verTodos">
      <ion-item class="item-lista" *ngFor="let g of filtrarTipoGastos()" (click)="opciones(g)">
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/609/609147.svg">
        </ion-avatar>
        <ion-label>{{g.titulo}}</ion-label>
        {{g.codigo}}
      </ion-item>
      <h2 *ngIf="tipoGastos.length == 0">No hay Tipos de Gastos aún...</h2>
    </ion-list>

    <ion-list *ngIf="verTodos">
      <ion-item class="item-lista" *ngFor="let g of tipoGastos" (click)="opciones(g)">
        <ion-avatar slot="start" *ngIf="g.estado">
          <img src="https://image.flaticon.com/icons/svg/609/609147.svg">
        </ion-avatar>
        <ion-avatar slot="start" *ngIf="!g.estado">
          <img src="https://image.flaticon.com/icons/svg/609/609147.svg" class="grayscale">
        </ion-avatar>
        <ion-label>{{g.titulo}}</ion-label>
        {{g.codigo}}
      </ion-item>
      <h2 *ngIf="tipoGastos.length == 0">No hay Tipos de Gastos aún...</h2>
    </ion-list>

</ion-content>
