<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header>
    <ion-toolbar class="toolbar" mode="md">
      <ion-buttons slot="start" mode="md">
        <ion-button mode="md" routerLink="/administrar" routerDirection="root" color="dark">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title mode="md">Crear Tipo de Gasto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list-header mode="md">
    <ion-label>Datos del Tipo de Gasto</ion-label>
  </ion-list-header>
  <div class="contenedor-formulario">
    <form>
      <ion-item mode="md">
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/609/609147.svg">
        </ion-avatar>
        <ion-label position="stacked">Tipo de Gasto<ion-text color="danger">*</ion-text></ion-label>
        <ion-input mode="md" name="titulo" [(ngModel)]="tipoGasto.titulo" required></ion-input>
      </ion-item>

      <ion-item mode="md">
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/1495/1495706.svg">
        </ion-avatar>
        <ion-label position="stacked">Codigo<ion-text color="danger">*</ion-text></ion-label>
        <ion-input mode="md" name="codigo" [(ngModel)]="tipoGasto.codigo" required></ion-input>
      </ion-item>

      <ion-button mode="md" class="ion-button" *ngIf="tipoGasto.id == 0 && bandera==false" size="medium" (click)="confirmar()" [disabled]="tipoGasto.codigo == '' || tipoGasto.titulo==''">Guardar</ion-button>
      <ion-button mode="md" class="ion-button" *ngIf="tipoGasto.id != 0 && bandera==false" size="medium" (click)="confirmarActualizar()" [disabled]="tipoGasto.codigo == '' || tipoGasto.titulo==''">Actualizar</ion-button>
      <ion-button mode="md" class="ion-button-cancelar" *ngIf="tipoGasto.id != 0 && bandera==false" size="medium" (click)="cancelar()">Cancelar Actualizar</ion-button>
      <ion-button mode="md" class="ion-button" *ngIf="bandera==true" size="medium" (click)="cancelar()">Cancelar Ver</ion-button>
    </form>

    <ion-header mode="md">
      <ion-toolbar mode="md">
        <ion-buttons slot="end" mode="md">
          <ion-button mode="md" (click)="cambiarBandera()">
            <ion-icon mode="md" slot="icon-only" name="list"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>


  <div class="contenedor-historial" *ngIf="banderaHistorial==true">
    <ion-item mode="md">
      <ion-label *ngIf="verTodos">Todos los Tipos de Gastos</ion-label>
      <ion-label *ngIf="!verTodos">Tipos de Gastos Activos</ion-label>
      <label *ngIf="verTodos" slot="end"><ion-badge>{{tipoGastos.length}}</ion-badge></label>
      <label *ngIf="!verTodos" slot="end"><ion-badge color="secondary">{{filtrarTipoGastos().length}}</ion-badge></label>
      <ion-toggle mode="md" [(ngModel)]="verTodos"></ion-toggle>
    </ion-item>

    <div class="contenedor-item-fecha">
      <ion-item mode="md" class="item-fecha">
        <ion-label class="label">Desde</ion-label>
        <ion-datetime mode="md" class="date-time" displayFormat="DD MM YY" placeholder="Selecciona un Fecha" [(ngModel)]="fechaMenor" name="fechaMenor" (ionChange)="filtrarPorFecha()"></ion-datetime>
      </ion-item>
      <div class="item-boton" lines="none">
        <ion-buttons mode="md">
          <ion-button mode="md" (click)="limpiarFecha('menor')">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>

    <div class="contenedor-item-fecha">
      <ion-item mode="md" class="item-fecha">
        <ion-label class="label">Hasta</ion-label>
        <ion-datetime mode="md" class="date-time" displayFormat="DD MM YY" placeholder="Selecciona un Fecha" [(ngModel)]="fechaMayor" name="fechaMayor" (ionChange)="filtrarPorFecha()"></ion-datetime>
      </ion-item>
      <div class="item-boton" lines="none">
        <ion-buttons mode="md">
          <ion-button mode="md" (click)="limpiarFecha('mayor')">
            <ion-icon mode="md" slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>

    <ion-list-header mode="md" class="ion-list-header">
      Lista de Tipos de Gastos
    </ion-list-header>

    <ion-item mode="md">
      <ion-avatar slot="start">
        <img src="https://www.flaticon.com/svg/static/icons/svg/3077/3077325.svg">
      </ion-avatar>
      <ion-input mode="md" type="text" placeholder="Buscar por todo" (keyup)="filtrarLista();" [(ngModel)]="buscar"></ion-input>
    </ion-item>

    <ion-list mode="md" *ngIf="!verTodos">
      <ion-item mode="md" class="item-lista" *ngFor="let g of filtrarTipoGastos()" (click)="opciones(g)">
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/609/609147.svg">
        </ion-avatar>
        <ion-label>{{asignarFechaString(g)}}</ion-label>
      </ion-item>
      <h1 class="sin-clientes" *ngIf="tipoGastos.length == 0">No hay Tipos de Gastos aún...</h1>
      <div class="contenedor-botones" *ngIf="tipoGastos.length != 0">
        <div class="parte-izquierda">
          <ion-item mode="md"><ion-button mode="md" class="boton-parte" (click)="disminuirCantidad()">Ver menos</ion-button></ion-item>
        </div>
        <div class="parte-medio">
          <!--<h1 class="titulo-cantidad">{{filtrarGastos().length}}/{{this.gastosActivos.length}}</h1>-->
        </div>
        <div class="parte-derecha">
          <ion-item mode="md"><ion-button mode="md" class="boton-parte" (click)="aumentarCantidad()">Ver más</ion-button></ion-item>
        </div>
      </div>
    </ion-list>

    <ion-list mode="md" *ngIf="verTodos">
      <ion-item mode="md" class="item-lista" *ngFor="let g of tipoGastos" (click)="opciones(g)">
        <ion-avatar slot="start" *ngIf="g.estado">
          <img src="https://image.flaticon.com/icons/svg/609/609147.svg">
        </ion-avatar>
        <ion-avatar slot="start" *ngIf="!g.estado">
          <img src="https://image.flaticon.com/icons/svg/609/609147.svg" class="grayscale">
        </ion-avatar>
        <ion-label>{{asignarFechaString(g)}}</ion-label>
      </ion-item>
      <h1 class="sin-clientes" *ngIf="tipoGastos.length == 0">No hay Tipos de Gastos aún...</h1>
    </ion-list>
  </div>
</ion-content>
