ion-toolbar{
/*
  --background: url("/assets/icon/cerro.png")  no-repeat center / 100%;
  --opacity: 0.9;
  padding-bottom: 25%;
  */
}
/*
.header-md::after{
  width: 0% !important;
}
*/

ion-title{
  --color: black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 24px;
}

.ion-button{
  --background: #1282d5;
  --background-activated: #1282d5;
  --background-focused: #1282d5;
  --background-hover: #1282d5;
  width: 70% !important;
  margin-left: 15% !important;
  margin-top: 5%;
  margin-bottom: 2%;
}

.ion-button-cancelar{
  --background: #1282d5;
  --background-activated: #1282d5;
  --background-focused: #1282d5;
  --background-hover: #1282d5;
  width: 70% !important;
  margin-left: 15% !important;
  margin-top: 0%;
  margin-bottom: 5%;
}

//historial

ion-avatar{
  --border-radius: 0%;
}

.item-lista{
  cursor: pointer;
}

.grayscale { filter: grayscale(80%) !important; }

.ion-list-header{
  margin-top: 2.5%;
}

.contenedor-item-fecha{
  width: 100%;
  display: flex;
}

.item-fecha{
  width:95%;
}

.item-boton{
  width: 5%;

  ion-buttons{
    width: 100%;
  }
}

.sin-clientes{
  font-size: 18px;
  margin-left: 4%;
}

@media (max-width:900px){

  .item-fecha{
    width:85%;
  }

  .item-boton{
    width: 15%;

    ion-buttons{
      width: 100%;
    }
  }
}
