<ion-content>
  <div class="contenedor">

    <div class="contenedor-image">
      <img class="imagen-logo" src="./assets/icon/icono-jazmin.png">
    </div>

    <ion-item>
      <!--<ion-label position="stacked" color="light">Usuario</ion-label>-->
      <ion-input class="usuario" [(ngModel)]="usuario" placeholder="Usuario"></ion-input>
    </ion-item>

    <ion-item>
      <!--<ion-label position="stacked" color="light">Contraseña</ion-label>-->
      <ion-input class="clave" [(ngModel)]="clave" placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-button class="ion-button" size="medium" (click)="login()">Ingresar</ion-button>
    <ion-button class="ion-button" size="medium" (click)="loginWithFingerprint()" *ngIf="permitirDedo">DEDITO</ion-button>
    <ion-button class="ion-button" size="medium" (click)="alert()">alert nombre</ion-button>
  </div>
</ion-content>
