#divFondoLogin{
  --background: url("/assets/icon/relaxing.svg")  no-repeat center / 100%;
  background-color: #82afec;
}
.img2{
  --background: url("/assets/icon/landscape.png")  no-repeat center / 100%;
  background-color: aquamarine;
}
.img3{
  --background: url("/assets/icon/dmx.svg")  no-repeat center / 100%;
  background-color: aquamarine;
}

ion-item{
  margin-top: 4%;
  --background: white;
  padding: none;
}

.contenedor{
  width: 45%;
  margin-left: 27.5%;
  background: none;
  margin-top: 0%;
}

.contenedor:nth-child(2){
  width: 45%;
  margin-left: 27.5%;
  background: none;
  margin-top: 5%;
}

.contenedor-image{
  margin-left: calc((100% - 300px)/2);
  width: 300px;
}

.imagen-logo{
  margin-left: calc((100% - 200px)/2);
  width: 200px;
  box-sizing: border-box;
}

.imagen-finger-print{
  width: 10%;
  color: white;
  margin-left: 45%;
}

.texto{

}

.usuario{
  color: black;
}

.clave{
  color: black;
}

.ion-button{
  --background: #82afec;
  --background-activated:#82afec;
  --background-focused:#82afec;
  --background-hover:#82afec;
  width: 100% !important;
  margin-left: 0% !important;
  margin-top: 5%;
  margin-bottom: 5%;
}

#imagen{
  animation: aparecer 2.5s;
  transform-origin: center center;
}

#texto-imagen{
  animation: aparecer 2.5s;
  transform-origin: center center;

}

#hojas{
  animation: hojas 2.5s ease infinite !important;
  transform-origin: center;
}

#grande{
  animation: graficos 2.5s ease infinite !important;
  transform-origin: center center;
}

#chico{
  animation: graficos 2.5s ease infinite !important;
  transform-origin: center center;
}

#mediano{
  animation: graficos 2.5s ease infinite !important;
  transform-origin: center center;
}

@keyframes graficos{
  from{
    transform: rotateZ(360deg);
  }
  to{
    transform: rotateZ(0deg);
  }
}

@keyframes hojas{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}

@keyframes aparecer{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}

@media (max-width:800px) {
  ion-content{
    --background: url("/assets/icon/landscape.png") no-repeat center / 100% 100%;
  }

  .contenedor{
    width: 80%;
    margin-left: 10%;
    background: none;
    margin-top: 15%;
  }

  .contenedor:nth-child(2){
    width: 80%;
    margin-left: 10%;
    background: none;
    margin-top: 5%;
  }

  .imagen-finger-print{
    width: 20%;
    color: white;
    margin-left: 40%;
  }


}
