<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-button routerLink="/administrar" routerDirection="root" color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crear Producto</ion-title>
  </ion-toolbar>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list-header>
    Datos del Producto
  </ion-list-header>
  <form>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://image.flaticon.com/icons/svg/1311/1311359.svg">
    </ion-avatar>
    <ion-label>Tipo de Producto</ion-label>
    <ion-select placeholder="Selecciona" [(ngModel)]="producto.codigo" name="tipo-producto" required [disabled]="bandera==true">
      <ion-select-option  *ngFor="let p of tiposProductos;index as i" value="{{p.codigo}}">{{p.titulo}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://image.flaticon.com/icons/svg/359/359399.svg">
    </ion-avatar>
    <ion-label position="stacked">Producto<ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="producto.titulo" name="titulo" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://image.flaticon.com/icons/svg/755/755193.svg">
    </ion-avatar>
    <ion-label position="stacked">Precio<ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="number" [(ngModel)]="producto.precio" name="precio" required></ion-input>
  </ion-item>

  <ion-button class="ion-button" *ngIf="producto.id == 0 && bandera==false" size="medium" (click)="confirmar()" [disabled]="producto.codigo == '' || producto.titulo=='' || producto.precio == 0 || producto.precio == null">Guardar</ion-button>
  <ion-button class="ion-button" *ngIf="producto.id != 0 && bandera==false" size="medium" (click)="confirmarActualizar()" [disabled]="producto.codigo == '' || producto.titulo=='' || producto.precio == 0 || producto.precio == null">Actualizar</ion-button>
  <ion-button class="ion-button-cancelar" *ngIf="producto.id != 0 && bandera==false" size="medium" (click)="cancelar()">Cancelar Actualizar</ion-button>
  <ion-button class="ion-button" *ngIf="bandera==true" size="medium" (click)="cancelar()">Cancelar Ver</ion-button>

  </form>


    <ion-list-header>
      Lista de Productos
    </ion-list-header>

    <ion-item>
      <ion-label *ngIf="verTodos">Todos los productos</ion-label>
      <ion-label *ngIf="!verTodos">Productos Activos</ion-label>
      <ion-toggle [(ngModel)]="verTodos"></ion-toggle>
    </ion-item>

    <ion-list *ngIf="!verTodos">
      <ion-item *ngFor="let p of filtrarProductos()" (click)="opciones(p)">
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/359/359399.svg">
        </ion-avatar>
        <ion-label>{{p.titulo}}</ion-label>
      </ion-item>
      <h2 *ngIf="productos.length == 0">No hay productos aun...</h2>
    </ion-list>

    <ion-list *ngIf="verTodos">
      <ion-item *ngFor="let p of productos" (click)="opciones(p)">
        <ion-avatar slot="start" *ngIf="p.estado">
          <img src="https://image.flaticon.com/icons/svg/359/359399.svg">
        </ion-avatar>
        <ion-avatar slot="start" *ngIf="!p.estado">
          <img class="grayscale" src="https://image.flaticon.com/icons/svg/359/359399.svg">
        </ion-avatar>
        <ion-label>{{p.titulo}}</ion-label>
      </ion-item>
      <h2 *ngIf="productos.length == 0">No hay productos aun...</h2>
    </ion-list>
</ion-content>
