<ion-header>
  <ion-toolbar>
    <ion-title>Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Producto<ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="producto.titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Precio<ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="producto.precio"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Codigo<ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="producto.codigo"></ion-input>
  </ion-item>

  <ion-button size="medium" (click)="confirmar()">Guardar</ion-button>

  <ion-list>

    <ion-item *ngFor="let p of productos">
      <ion-label>{{p.titulo}}</ion-label>
    </ion-item>
    <h2 *ngIf="productos.length == 0">No hay productos aun...</h2>
  </ion-list>

</ion-content>
