<ion-content>
  <ion-toolbar class="toolbar" mode="md">
    <ion-buttons slot="start" mode="md">
      <ion-button (click)="cerrarModal()" color="dark" mode="md">
        <ion-icon slot="icon-only" name="arrow-back" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="md">Detalle</ion-title>
  </ion-toolbar>

  <ion-list-header mode="md">
    Ingresar Productos
  </ion-list-header>

    <ion-item mode="md">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/359/359399.svg">
      </ion-avatar>
      <ion-label>Producto</ion-label>
      <ion-select mode="md" placeholder="Selecciona" [(ngModel)]="producto" name="producto">
        <ion-select-option  mode="md" *ngFor="let p of productos;index as i" value="{{i}}">{{p.titulo}} {{p.codigo}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item mode="md">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/1656/1656469.svg">
      </ion-avatar>
      <ion-input mode="md" type="number" placeholder="Cantidad vendida" [(ngModel)]="cantidad" name="cantidad"></ion-input>
      <ion-button mode="md" class="boton-cerrar" (click)="add();flag = false;" [disabled]="(cantidad <= 0  || !cantidad) || !producto">agregar</ion-button>
    </ion-item>

    <ion-list-header mode="md">
      Productos Ingresados
    </ion-list-header>

  <ion-item *ngFor="let p of detalle;index as i" mode="md">
    <ion-avatar slot="start">
      <img src="https://image.flaticon.com/icons/svg/359/359399.svg">
    </ion-avatar>
    <p>Producto: {{p.titulo}}<br>
       Precio: {{p.precio | number}} <br>
       Cantidad Vendida: {{p.cantidad | number}}<br>
       Total: {{p.precio * p.cantidad | number }}<br> </p>
    <ion-button class="boton-borrar" (click)="borrar(i)" slot="end">borrar</ion-button>
  </ion-item>


</ion-content>

<ion-footer mode="md">
  <ion-toolbar mode="md">
  <ion-button mode="md" (click)="guardar()" class="boton-ok" size="block"  [disabled]="cantidad == '' || producto==''">OK</ion-button>
  </ion-toolbar>
</ion-footer>
