<ion-content>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-button routerLink="/administrar" routerDirection="root" color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crear Tipo de Producto/Servicio</ion-title>
  </ion-toolbar>

  <ion-list-header>
    <ion-label>Datos del Tipo de Producto/Servicio</ion-label>
  </ion-list-header>

<form id="form">
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://image.flaticon.com/icons/svg/1311/1311359.svg">
    </ion-avatar>
    <ion-label position="stacked">Tipo de Producto/Servicio<ion-text color="danger">*</ion-text></ion-label>
    <ion-input name="titulo" [(ngModel)]="tipoProducto.titulo" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://image.flaticon.com/icons/svg/1495/1495706.svg">
    </ion-avatar>
    <ion-label position="stacked">Codigo<ion-text color="danger">*</ion-text></ion-label>
    <ion-input name="codigo" [(ngModel)]="tipoProducto.codigo" required></ion-input>
  </ion-item>

  <ion-button class="ion-button" *ngIf="tipoProducto.id == 0 && bandera==false" size="medium" (click)="confirmar()" [disabled]="tipoProducto.codigo == '' || tipoProducto.titulo==''">Guardar</ion-button>
  <ion-button class="ion-button" *ngIf="tipoProducto.id != 0 && bandera==false" size="medium" (click)="confirmarActualizar()" [disabled]="tipoProducto.codigo == '' || tipoProducto.titulo==''">Actualizar</ion-button>
  <ion-button class="ion-button-cancelar" *ngIf="tipoProducto.id != 0 && bandera==false" size="medium" (click)="cancelar()">Cancelar Actualizar</ion-button>
  <ion-button class="ion-button" *ngIf="bandera==true" size="medium" (click)="cancelar()">Cancelar Ver</ion-button>
</form>

  <ion-list-header>
    Lista de Tipos de Productos
  </ion-list-header>

  <ion-item>
    <ion-label *ngIf="verTodos">Todos los Tipos de Productos</ion-label>
    <ion-label *ngIf="!verTodos">Tipos de Productos Activos</ion-label>
    <ion-toggle [(ngModel)]="verTodos"></ion-toggle>
  </ion-item>

    <ion-list *ngIf="!verTodos">
      <ion-item *ngFor="let p of filtrarTipoProductos()" (click)="opciones(p)">
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/1311/1311359.svg">
        </ion-avatar>
        <ion-label>{{p.titulo}}</ion-label>
        {{p.codigo}}
      </ion-item>
      <h2 *ngIf="tipoProductos.length == 0">No hay Tipos de Productos aún...</h2>
    </ion-list>

    <ion-list *ngIf="verTodos">
      <ion-item *ngFor="let p of tipoProductos" (click)="opciones(p)">
        <ion-avatar slot="start" *ngIf="p.estado">
          <img src="https://image.flaticon.com/icons/svg/1311/1311359.svg">
        </ion-avatar>
        <ion-avatar slot="start" *ngIf="!p.estado">
          <img src="https://image.flaticon.com/icons/svg/1311/1311359.svg" class="grayscale">
        </ion-avatar>
        <ion-label>{{p.titulo}}</ion-label>
        {{p.codigo}}
      </ion-item>
      <h2 *ngIf="tipoProductos.length == 0">No hay Tipos de Productos aún...</h2>
    </ion-list>

<!--
  <ion-list>
    <ion-list-header>
      Lista de Productos/Servicios
    </ion-list-header>
    <ion-item *ngFor="let g of tipoProductos">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/609/609147.svg">
      </ion-avatar>
      <ion-label>{{g.titulo}}</ion-label>
    </ion-item>
    <ion-label *ngIf="tipoProductos.length == 0">No hay tipos de Productos/Servicios aun...</ion-label>
  </ion-list>
  -->
</ion-content>
