<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header>
  <ion-toolbar mode="md" class="toolbar">
    <ion-buttons mode="md" slot="start">
      <ion-button mode="md" routerLink="/administrar" routerDirection="root" color="dark">
        <ion-icon mode="md" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crear Tipo de Producto/Servicio</ion-title>
  </ion-toolbar>
  </ion-header>

  <ion-list-header mode="md">
    <ion-label>Datos del Tipo de Producto/Servicio</ion-label>
  </ion-list-header>

  <div class="contenedor-formulario">
    <form id="form">
      <ion-item mode="md">
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/1311/1311359.svg">
        </ion-avatar>
        <ion-label position="stacked">Tipo de Producto/Servicio<ion-text color="danger">*</ion-text></ion-label>
        <ion-input mode="md" name="titulo" [(ngModel)]="tipoProducto.titulo" required></ion-input>
      </ion-item>

      <ion-item mode="md">
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/1495/1495706.svg">
        </ion-avatar>
        <ion-label position="stacked">Codigo<ion-text color="danger">*</ion-text></ion-label>
        <ion-input mode="md" name="codigo" [(ngModel)]="tipoProducto.codigo" required></ion-input>
      </ion-item>

      <ion-button mode="md" class="ion-button" *ngIf="tipoProducto.id == 0 && bandera==false" size="medium" (click)="confirmar()" [disabled]="tipoProducto.codigo == '' || tipoProducto.titulo==''">Guardar</ion-button>
      <ion-button mode="md" class="ion-button" *ngIf="tipoProducto.id != 0 && bandera==false" size="medium" (click)="confirmarActualizar()" [disabled]="tipoProducto.codigo == '' || tipoProducto.titulo==''">Actualizar</ion-button>
      <ion-button mode="md" class="ion-button-cancelar" *ngIf="tipoProducto.id != 0 && bandera==false" size="medium" (click)="cancelar()">Cancelar Actualizar</ion-button>
      <ion-button mode="md" class="ion-button" *ngIf="bandera==true" size="medium" (click)="cancelar()">Cancelar Ver</ion-button>
    </form>

    <ion-header mode="md">
      <ion-toolbar mode="md">
        <ion-buttons slot="end" mode="md">
          <ion-button (click)="cambiarBandera()" mode="md">
            <ion-icon slot="icon-only" name="list" mode="md"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>

  <div class="contenedor-historial" *ngIf="banderaHistorial">
    <ion-item mode="md">
      <ion-label *ngIf="verTodos">Todos los Tipos de Productos</ion-label>
      <ion-label *ngIf="!verTodos">Tipos de Productos Activos</ion-label>
      <label *ngIf="verTodos" slot="end"><ion-badge>{{tipoProductos.length}}</ion-badge></label>
      <label *ngIf="!verTodos" slot="end"><ion-badge color="secondary">{{filtrarTipoProductos().length}}</ion-badge></label>
      <ion-toggle mode="md" [(ngModel)]="verTodos"></ion-toggle>
    </ion-item>

    <div class="contenedor-item-fecha">
      <ion-item mode="md" class="item-fecha">
        <ion-label class="label">Desde</ion-label>
        <ion-datetime mode="md" class="date-time" displayFormat="DD MM YY" placeholder="Selecciona un Fecha" [(ngModel)]="fechaMenor" name="fechaMenor" (ionChange)="filtrarPorFecha()"></ion-datetime>
      </ion-item>
      <div class="item-boton" lines="none">
        <ion-buttons mode="md">
          <ion-button mode="md" (click)="limpiarFecha('menor')">
            <ion-icon mode="md" slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>

    <div class="contenedor-item-fecha">
      <ion-item mode="md" class="item-fecha">
        <ion-label class="label">Hasta</ion-label>
        <ion-datetime mode="md" class="date-time" displayFormat="DD MM YY" placeholder="Selecciona un Fecha" [(ngModel)]="fechaMayor" name="fechaMayor" (ionChange)="filtrarPorFecha()"></ion-datetime>
      </ion-item>
      <div class="item-boton" lines="none">
        <ion-buttons mode="md">
          <ion-button mode="md" (click)="limpiarFecha('mayor')">
            <ion-icon mode="md" slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>

    <ion-list-header mode="md" class="ion-list-header">
      Lista de Productos
    </ion-list-header>

    <ion-item mode="md">
      <ion-avatar slot="start">
        <img src="https://www.flaticon.com/svg/static/icons/svg/3077/3077325.svg">
      </ion-avatar>
      <ion-input mode="md" type="text" placeholder="Buscar por todo" (keyup)="filtrarLista();" [(ngModel)]="buscar"></ion-input>
    </ion-item>

    <ion-list *ngIf="!verTodos">
      <ion-item mode="md" class="item-lista" *ngFor="let p of filtrarTipoProductos()" (click)="opciones(p)">
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/1311/1311359.svg">
        </ion-avatar>
        <ion-label>{{asignarFechaString(p)}}</ion-label>
      </ion-item>
      <h1 class="sin-tipoProductos" *ngIf="tipoProductos.length == 0">No hay Tipos de Productos aún...</h1>
    </ion-list>

    <ion-list mode="md" *ngIf="verTodos">
      <ion-item mode="md" class="item-lista" *ngFor="let p of tipoProductos" (click)="opciones(p)">
        <ion-avatar slot="start" *ngIf="p.estado">
          <img src="https://image.flaticon.com/icons/svg/1311/1311359.svg">
        </ion-avatar>
        <ion-avatar slot="start" *ngIf="!p.estado">
          <img src="https://image.flaticon.com/icons/svg/1311/1311359.svg" class="grayscale">
        </ion-avatar>
        <ion-label>{{asignarFechaString(p)}}</ion-label>
      </ion-item>
      <h1 class="sin-tipoProductos" *ngIf="tipoProductos.length == 0">No hay Tipos de Productos aún...</h1>
    </ion-list>

<!--
  <ion-list>
    <ion-list-header>
      Lista de Productos/Servicios
    </ion-list-header>
    <ion-item *ngFor="let g of tipoProductos">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/609/609147.svg">
      </ion-avatar>
      <ion-label>{{g.titulo}}</ion-label>
    </ion-item>
    <ion-label *ngIf="tipoProductos.length == 0">No hay tipos de Productos/Servicios aun...</ion-label>
  </ion-list>
  -->
  </div>
</ion-content>
