<ion-content>

  <ion-header mode="md">
    <ion-toolbar class="toolbar" mode="md">
      <ion-buttons slot="start" mode="md">
        <ion-buttons slot="start" mode="md">
          <ion-menu-button style="--color:black;" mode="md"></ion-menu-button>
        </ion-buttons>
      </ion-buttons>
      <ion-title>Administrar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="ion-list" lines="none" mode="md">
    <ion-list-header mode="md">
      <ion-label>Perfil</ion-label>
    </ion-list-header>

    <ion-item routerLink="/administrar/empresa" routerDirection="root" mode="md">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/1481/1481492.svg">
      </ion-avatar>
      <ion-label class="ion-label">Mi Empresa</ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="ion-list" lines="none" mode="md">
    <ion-list-header mode="md">
      <ion-label>Crear</ion-label>
    </ion-list-header>
    <div class="" *ngFor="let menu of menus">
      <ion-item *ngIf="menu.permission.r" routerLink="{{menu.url.replace(filterPAth,'')}}" routerDirection="root" mode="md">
        <ion-avatar slot="start">
          <img [src]="menu.icon">
        </ion-avatar>
        <ion-label class="ion-label">{{menu.title}}</ion-label>
      </ion-item>
    </div>


  </ion-list>
</ion-content>
