<ion-content>

  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button style="--color:black;"></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Administrar</ion-title>
  </ion-toolbar>

  <ion-list class="ion-list" lines="none">
    <ion-list-header>
      <ion-label>Perfil</ion-label>
    </ion-list-header>

    <ion-item routerLink="/administrar/empresa" routerDirection="root">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/1481/1481492.svg">
      </ion-avatar>
      <ion-label class="ion-label">Mi Empresa</ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="ion-list" lines="none">
    <ion-list-header>
      <ion-label>Crear</ion-label>
    </ion-list-header>
    <div class="" *ngFor="let menu of menus">
      <ion-item *ngIf="menu.permission.r" routerLink="{{menu.url.replace(filterPAth,'')}}" routerDirection="root" >
        <ion-avatar slot="start">
          <img [src]="menu.icon">
        </ion-avatar>
        <ion-label class="ion-label">{{menu.title}}</ion-label>
      </ion-item>
    </div>


  </ion-list>
</ion-content>
