<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header class="titulo-menu">
        <ion-toolbar class="ion-top-toolbar">
          <div class="contenedor-image">
            <img class="imagen-logo" src="./assets/icon/icono-jazmin.png">
          </div>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <div class="lista">
          <ion-list>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
              <ion-item class="item-menu" [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon" color="ligth"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </div>
        <div>
          <ion-item class="item-menu" (click)="cerrarSesion()">
            <ion-icon class="icono-apagar" slot="start" name="power" color="ligth"></ion-icon>
            <ion-label class="cerrar-sesion">Cerrar Sesión</ion-label>
          </ion-item>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
