.ion-top-toolbar{
    /*
  --background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(255,87,34,1) 0%, rgba(230,81,0,1) 54%);
  */
  --background: #82afec;
  --color: white !important;
}

.ion-bottom-toolbar{
  /*
  --background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(255,87,34,1) 0%, rgba(230,81,0,1) 54%);
  */
  --background: #82afec;
  --color: white !important;
}

.imagen-logo{
  margin-left: calc((100% - 120px)/2);
  width: 120px;
  margin-top: 10%;
}

.header-md::after{
width: 0% !important;
}

.ion-title{
  text-align: center;
  margin-top: 3.5%;
  margin-bottom: 3.5%;
  font-size: 15px;
}


ion-icon{
  width: 27px !important;
  height: 30px !important;
  margin-left: 25px !important;
}

ion-content {
  /*
  --color:white!important;
  --background: rgb(2,0,36);
  --background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,68,121,0.5648148148148149) 0%, rgba(35,0,255,0.6643518518518519) 100%);
  */
    --background: #82afec;
}

ion-item{
  --color:white!important;
  /*
  --background: rgb(2,0,36);
  --background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,68,121,0.5648148148148149) 0%, rgba(35,0,255,0.6643518518518519) 100%);
  */
  --background: #82afec;
}

.list-md{
  background: #82afec;
  padding-top:0!important;
  padding-bottom:0!important;
  margin-top: 0!important;
}

.item-menu{
      /** background **/
  --background-focused:#82afec;
  --background-hover:#82afec;
  --background: #82afec;
    /** objetos del item **/
    /** color del item (dentro objetos,letras) **/
 --color:#fff;

 --color-activated:#fff;
    /** color de lo de dentro cuando se le apreta tab encima **/
 --color-focused:#fff;
    /** color de lo de dentro cuando se le pasa el mouse encima **/
 --color-hover:#fff;

 --border-color: transparent;
}

.item-perfil{
 --border-color: transparent;
}

ion-button{
  --background: #3949ab;
  --background-activated: #3949ab;
  --background-hover: #3949ab;
  width: 70% !important;
  margin-left: 15% !important;
  font-size: 10px !important;
}

ion-avatar img{

  width: 100px !important;
  height: 100px !important;
  --border-radius: 50px;
  margin-left: -20%;
}

ion-split-pane{

}

ion-content{

}

.split-pane-md.split-pane-visible>.split-pane-side {
    min-width: 19vw;
    max-width: 0%;
    margin: 0%;
    border: none;
}

.imagen-menu{
  width: 40px;
  height: 40px;
  border-radius: 80px;
}

.contenedor-texto{
  margin-top: 2% !important;
  margin-left: 15% !important;
}

.texto-menu{
  font-size: 16px;
  text-align: center;
}

.item-menu-perfil{
  padding-top: 5% !important;
  --background-focused:#82afec;
  --background-hover:#82afec;
  --background: #82afec;
  background: #82afec !important;
   --border-color: transparent;
}

.lista{
  background: #82afec;
  margin-top: 5% !important;
}

.cerrar-sesion{
  cursor: pointer !important;
}
