<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button style="--color:white;"></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title> Ventas </ion-title>
  </ion-toolbar>

  <ion-list-header>
    Ingrese una venta
  </ion-list-header>

  <form>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/1546/1546570.svg">
      </ion-avatar>

      <ion-label>Tipo de Documento</ion-label>
      <ion-select [(ngModel)]="venta.tipoDocumento" name="tipoDocumento" required [disabled]="bandera==true">
        <ion-select-option>Boleta</ion-select-option>
        <ion-select-option selected>Factura</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/470/470326.svg">
      </ion-avatar>
      <ion-label>Fecha de Emisión</ion-label>
      <ion-datetime placeholder="Select Date" name="fecha" [(ngModel)]="venta.fecha" required [disabled]="bandera==true"></ion-datetime>
    </ion-item>
  </form>

  <ion-item>
    <ion-label>Cliente Existente</ion-label>
    <ion-toggle [(ngModel)]="pepperoni" (click)="limpiar();"></ion-toggle>
  </ion-item>

  <ion-item *ngIf="!pepperoni">
    <ion-button size="medium" class="ion-button-cliente" (click)="abrirCliente();">Nuevo Cliente</ion-button>
  </ion-item>

  <ion-item *ngIf="!banderaOpciones && pepperoni">
    <ion-avatar slot="start">
      <img src="https://image.flaticon.com/icons/svg/1306/1306532.svg">
    </ion-avatar>
    <ion-label position="stacked">SEÑOR(ES) <ion-text color="danger"></ion-text></ion-label>
    <ion-input type="text" (keyup)="filtrarCliente()" name="nombreCliente" [(ngModel)]="nombreCliente"></ion-input>
  </ion-item>



  <ion-list *ngIf="nombreCliente != ''">
    <ion-radio-group>
      <ion-list-header>Clientes</ion-list-header>
        <ion-item  *ngFor="let cliente of clientesFiltrado" (click)="verCliente(cliente)">
          <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/1602/1602619.svg">
          </ion-avatar>
          <ion-label>{{cliente.nombre}}</ion-label>
          <ion-radio slot="start"></ion-radio>
        </ion-item>
     </ion-radio-group>
  </ion-list>

  <div class="lista-clientes" *ngIf="cliente && clientesFiltrado.length!=0">
    <ion-list-header>Datos del Cliente</ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/1602/1602619.svg">
      </ion-avatar>
      <ion-label class="texto-formulario">Nombre: {{cliente.nombre}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/599/599210.svg">
      </ion-avatar>
      <ion-label class="texto-formulario">Rut: {{cliente.rut}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/977/977961.svg">
      </ion-avatar>
      <ion-label class="texto-formulario">Giro: {{cliente.giro}}</ion-label>
    </ion-item>

    <div *ngIf="flag">
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/1244/1244506.svg">
        </ion-avatar>
        <ion-label class="texto-formulario">Dirección: {{cliente.direccion}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/1309/1309132.svg">
        </ion-avatar>
        <ion-label class="texto-formulario">Comuna: {{cliente.comuna}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/1175/1175011.svg">
        </ion-avatar>
        <ion-label class="texto-formulario">Ciudad: {{cliente.contacto}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/148/148990.svg">
        </ion-avatar>
        <ion-label class="texto-formulario">Contacto: {{cliente.giro}}</ion-label>
      </ion-item>
    </div>

    <ion-button *ngIf="!flag" size="medium" class="ion-button-mas" (click)="flag=true">Ver Más</ion-button>
    <ion-button *ngIf="flag" size="medium" class="ion-button-menos" (click)="flag=false">Ver Menos</ion-button>
    <ion-button *ngIf="!banderaOpciones" ize="medium" class="ion-button-cancelar-ver" (click)="limpiar();">Cancelar</ion-button>
  </div>

  <div class="lista-clientes" *ngIf="cliente && clientesFiltrado.length!=0 && detalle.length>0">
    <ion-list-header>Detalle Productos</ion-list-header>
    <ion-item *ngFor="let p of detalle;index as i">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/359/359399.svg">
      </ion-avatar>
      <p>Producto: {{p.titulo}} <br>
         Precio: {{p.precio | number}} <br>
         Cantidad: {{p.cantidad | number}} <br><br>
         Total: {{p.precio * p.cantidad | number }}</p>
      <ion-button class="boton-borrar" [disabled]="bandera" (click)="borrar(i)" slot="end">borrar</ion-button>
    </ion-item>
  </div>

  <ion-button size="medium" class="ion-button" (click)="abrirDetalle();" [disabled]="!cliente || bandera">Detalle</ion-button>
  <ion-button class="ion-button-confirmar" *ngIf="venta.id == 0 && bandera==false " size="medium" (click)="confirmar()" [disabled]="tipoDocumento == '' || ventas.fecha==''">Guardar</ion-button>
  <ion-button class="ion-button-confirmar" *ngIf="venta.id != 0 && bandera==false" size="medium" (click)="confirmarActualizar()" [disabled]="tipoDocumento == '' || ventas.fecha==''">Actualizar</ion-button>
  <ion-button class="ion-button-cancelar" *ngIf="venta.id != 0 && bandera==false" size="medium" (click)="cancelar(); banderaOpciones=false;">Cancelar Actualizar</ion-button>
  <ion-button class="ion-button-cancelar" *ngIf="bandera==true" size="medium" (click)="cancelar(); banderaOpciones=false;">Cancelar Ver</ion-button>
<!--
<ion-list>
  <ion-list-header>
    Lista de Ventas
  </ion-list-header>

    <ion-item *ngFor="let v of ventas">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/1602/1602619.svg">
      </ion-avatar>
      <ion-label>{{encontrarCliente(v.id_cliente)}}</ion-label>
    </ion-item>
    <ion-label *ngIf="ventas.length == 0">No hay ventas aun...</ion-label>
  </ion-list>
-->
  <ion-list-header>
    Lista de Ventas
  </ion-list-header>

  <ion-item>
    <ion-label *ngIf="verTodos">Todos las Ventas</ion-label>
    <ion-label *ngIf="!verTodos">Ventas Activas</ion-label>
    <label *ngIf="verTodos" slot="end"><ion-badge>{{ventas.length}}</ion-badge></label>
    <label *ngIf="!verTodos" slot="end"><ion-badge color="secondary">{{filtrarVentas().length}}</ion-badge></label>
    <ion-toggle slot="end" [(ngModel)]="verTodos"></ion-toggle>
  </ion-item>

    <ion-list *ngIf="!verTodos">
      <ion-item class="item-lista" *ngFor="let v of filtrarVentas()" (click)="opciones(v)">
        <ion-avatar slot="start">
          <img src="/assets/icon/ventas.svg">
        </ion-avatar>
        <ion-label>{{encontrarCliente(v.idCliente)}}</ion-label>
      </ion-item>
      <h2 *ngIf="ventas.length == 0">No hay Ventas aún...</h2>
    </ion-list>

    <ion-list *ngIf="verTodos">
      <ion-item class="item-lista" *ngFor="let v of ventas" (click)="opciones(v)">
        <ion-avatar slot="start" *ngIf="v.estado">
          <img src="/assets/icon/ventas.svg">
        </ion-avatar>
        <ion-avatar slot="start" *ngIf="!v.estado">
          <img class="grayscale" src="/assets/icon/ventas.svg">
        </ion-avatar>
        <ion-label>{{encontrarCliente(v.idCliente)}}</ion-label>
      </ion-item>
      <h2 *ngIf="ventas.length == 0">No hay Ventas aún...</h2>
    </ion-list>
</ion-content>
