ion-content{
  --background: #f5f5f5;
}

ion-toolbar{
  --background: #f5f5f5;
  padding-bottom: 0%;
}

.header-md::after{
  width: 0% !important;
}

ion-title{
  --color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 24px;
}
.dropPlace{
  background-color: aquamarine;
}
.parte-arriba{
  display: flex;
  margin-top: 0%;
  width: 100%;
}

.contenedor-card{
  width: 100%;
}

.card{
  width: 80%;
  background: white;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(184,184,184,1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(184,184,184,1);
  box-shadow: 0px 2px 5px 0px rgba(184,184,184,1);
  border-radius: 5px;
}

ion-card{
  width: 50%;
}

.parte-medio{
  margin-top: 2.5%;
  width: 100%;
  display: flex;
}

.contenedor-card-reportes{
  width: 100%;
}

.card-reportes{
  width: 90%;
  background: white;
  margin-top: 2.5%;
  margin-left: 5%;
  margin-right: 2.5%;
  padding-top: 3.5%;
  padding-bottom: 1.5%;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(184,184,184,1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(184,184,184,1);
  box-shadow: 0px 2px 5px 0px rgba(184,184,184,1);
  border-radius: 5px;

  ion-item{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100% !important;
  }
}

ion-item{
  width: 100% !important;
}

ion-item-divider{
  background: #f5f5f5;
}

ion-avatar{
  --border-radius: 0%;
}

.boton-reporte{
  --background: #7e7cc1;
  --background-activated: #7e7cc1;
  --background-focused: #7e7cc1;
  --background-hover: #7e7cc1;
}

.contenedor-card-resumenes{
  width: 100%;
}

.card-resumenes{
  width: 90%;
  background: white;
  margin-top: 2.5%;
  margin-left: 5%;
  margin-right: 2.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(184,184,184,1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(184,184,184,1);
  box-shadow: 0px 2px 5px 0px rgba(184,184,184,1);
  border-radius: 5px;
}

/*
.contenedor-segmentos{
  width: 100%;
  display: flex;
}
.contenedor-segmento{
  width: 100%;
}
.segmento-ventas{
  width: 80%;
  margin-left: 10%;
  background: #f5f5f5;
  border-radius: 5px;
  ion-label{
    width: calc(100% - 30px);
    margin-left: calc((100% - 30px)/2);
  }
}
.segmento-gastos{
  width: 80%;
  margin-left: 10%;
  background: #f5f5f5;
  ion-label{
    text-align: center;
  }
}
*/

.contenedor-selector{
  margin-top: 2.5%;
  margin-bottom: 10px;
}

.imagen-segmento{
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}

.imagen-resumen{
  margin-top: 5%;
  width: 40%;
  margin-left: 30%;
}

.contenedor-texto{
  margin-top: 5%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 32px;
}

.contenedor-imagen-informe{
  width: 40%;
  margin-left: 30%;
}

.celular{
  display: none;
}

#_Informe_{
  animation: girar 3s ease infinite;
  transform-origin: center;
}

.contenedor-texto-final{
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

.contenedor-boton{
  width: 50%;
  margin-left: 25%;
  margin-top: 2.5%;
  margin-bottom: 5%;
}

.titulo{
  font-size: 20px;
  color: #7b7bec;
}

.subtitulo{
  font-size: 20px;
  color: #7b7bec;
}

ion-button{
  --background: #7b7bec;

  ion-icon{
    width: 30px;
    margin-right: 2%;
  }
}

/*
#_Tuerca-c_{
  animation: girar2 1s linear infinite;
  transform-origin: center center;
}

#_Tuerca-g_{
  animation: girar2 3s linear infinite;
  transform-origin: center center;
}
*/

@keyframes girar{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes girar2{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@media (max-width:900px){
  .celular{
    display: block;
  }

  .escritorio{
    display: none;
  }

  .parte-medio{
    display: block;
  }

  .card{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10%;
  }

  .card-resumenes{
    width: 90%;
    background: white;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 2.5%;
    margin-bottom: 5%;
    padding-top: 0.5%;
    padding-bottom: 2.5%;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(184,184,184,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(184,184,184,1);
    box-shadow: 0px 2px 5px 0px rgba(184,184,184,1);
    border-radius: 5px;
  }

  .contenedor-imagen-informe{
    width: 50%;
    margin-left: 25%;
  }

  #_Informe_{
    animation: girar 3s ease infinite;
    transform-origin: center;
  }

  .contenedor-texto-final{
    width: 100%;
    margin-left: 0%;
    text-align: center;
  }

  .contenedor-boton{
    width: 50%;
    margin-left: 25%;
    margin-top: 2.5%;
    margin-bottom: 5%;
  }

  .titulo{
    font-size: 25px;
    color: #7b7bec;
  }

  .subtitulo{
    width: 100%;
    font-size: 20px;
    color: #7b7bec;
  }

  ion-button{
    --background: #7b7bec;

    ion-icon{
      width: 30px;
      margin-right: 2%;
    }
  }
}
