<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<!--
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button style="--color:white;"></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Reportes</ion-title>
  </ion-toolbar>
  -->

  <div class="parte-arriba celular">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <div class="contenedor-card">
          <div class="card">
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="/assets/icon/ventas.svg">
              </ion-avatar>
              <ion-label>
                <h3>Ventas</h3>
                <p>{{ventas.length}}</p>
              </ion-label>
            </ion-item>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="contenedor-card">
          <div class="card">
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="https://image.flaticon.com/icons/svg/1602/1602619.svg">
              </ion-avatar>
              <ion-label>
                <h3>Clientes</h3>
                <p>{{clientes.length}}</p>
              </ion-label>
            </ion-item>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="contenedor-card">
          <div class="card">
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="https://image.flaticon.com/icons/svg/1175/1175009.svg">
              </ion-avatar>
              <ion-label>
                <h3>Gastos</h3>
                <p>{{gastos.length}}</p>
              </ion-label>
            </ion-item>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="contenedor-card">
          <div class="card">
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="https://image.flaticon.com/icons/svg/359/359399.svg">
              </ion-avatar>
              <ion-label>
                <h3>Productos</h3>
                <p>{{productos.length}}</p>
              </ion-label>
            </ion-item>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="contenedor-card">
          <div class="card">
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="https://image.flaticon.com/icons/svg/608/608905.svg">
              </ion-avatar>
              <ion-label>
                <h3>Cotizaciones</h3>
                <p>{{cotizaciones.length}}</p>
              </ion-label>
            </ion-item>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="parte-arriba escritorio">
      <div class="contenedor-card">
        <div class="card">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="/assets/icon/ventas.svg">
            </ion-avatar>
            <ion-label>
              <h3>Ventas</h3>
              <p>{{ventas.length}}</p>
            </ion-label>
          </ion-item>
        </div>
      </div>

      <div class="contenedor-card">
        <div class="card">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="https://image.flaticon.com/icons/svg/1602/1602619.svg">
            </ion-avatar>
            <ion-label>
              <h3>Clientes</h3>
              <p>{{clientes.length}}</p>
            </ion-label>
          </ion-item>
        </div>
      </div>

      <div class="contenedor-card">
        <div class="card">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="https://image.flaticon.com/icons/svg/1175/1175009.svg">
            </ion-avatar>
            <ion-label>
              <h3>Gastos</h3>
              <p>{{gastos.length}}</p>
            </ion-label>
          </ion-item>
        </div>
      </div>

      <div class="contenedor-card">
        <div class="card">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="https://image.flaticon.com/icons/svg/359/359399.svg">
            </ion-avatar>
            <ion-label>
              <h3>Productos</h3>
              <p>{{productos.length}}</p>
            </ion-label>
          </ion-item>
        </div>
      </div>

      <div class="contenedor-card">
        <div class="card">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="https://image.flaticon.com/icons/svg/608/608905.svg">
            </ion-avatar>
            <ion-label>
              <h3>Cotizaciones</h3>
              <p>{{cotizaciones.length}}</p>
            </ion-label>
          </ion-item>
        </div>
      </div>
  </div>

  <div class="parte-medio">
    <div class="contenedor-card-reportes">
      <div class="card-reportes">
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/1602/1602619.svg">
          </ion-avatar>
          <ion-label>Clientes</ion-label>
          <ion-button class="boton-reporte" (click)="abrirReporte(1)">Ver Reporte</ion-button>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="/assets/icon/ventas.svg">
          </ion-avatar>

          <ion-label>Ventas</ion-label>
          <ion-button class="boton-reporte" (click)="abrirReporte(2)">Ver Reporte</ion-button>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/1175/1175009.svg">
          </ion-avatar>

          <ion-label>Gastos</ion-label>
          <ion-button class="boton-reporte" (click)="abrirReporte(3)">Ver Reporte</ion-button>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/359/359399.svg">
          </ion-avatar>
          <ion-label>Productos</ion-label>
          <ion-button class="boton-reporte" (click)="abrirReporte(4)">Ver Reporte</ion-button>
        </ion-item>

        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/608/608905.svg">
          </ion-avatar>
          <ion-label>Cotizaciones</ion-label>
          <ion-button class="boton-reporte" (click)="abrirReporte(5)">Ver Reporte</ion-button>
        </ion-item>
      </div>
    </div>


      <div class="contenedor-card-resumenes">
        <div class="card-resumenes">
          <div class="contenedor-segmentos">
            <!--
            <div class="contenedor-segmento">
              <div class="segmento-ventas">
                <img class="imagen-segmento" src="/assets/icon/ventas.svg">
                <ion-label>Ventas</ion-label>
              </div>
            </div>
            <div class="contenedor-segmento">
              <div class="segmento-gastos">
                <img class="imagen-segmento" src="https://image.flaticon.com/icons/svg/1175/1175009.svg">
                <ion-label>Gastos</ion-label>
              </div>
            </div>-->

          <ion-segment mode="md">
            <ion-segment-button value="ventas" mode="md" (click)="tipo=0;">
              <ion-label>Ventas</ion-label>
              <img class="imagen-segmento" src="/assets/icon/ventas.svg">
            </ion-segment-button>
            <ion-segment-button value="gastos" mode="md" (click)="tipo=1;">
              <ion-label>Gastos</ion-label>
              <img class="imagen-segmento" src="https://image.flaticon.com/icons/svg/1175/1175009.svg">
            </ion-segment-button>
          </ion-segment>
        </div>
        <div class="contenedor-selector">
          <ion-item lines="none">
            <ion-label>Periodo</ion-label>
            <ion-select placeholder="Seleciona un Periodo" name="periodo" [(ngModel)]="periodo" (ionChange)="filtrarValor(tipo,periodo);">
              <ion-select-option value="0">Año</ion-select-option>
              <ion-select-option value="1">Mes</ion-select-option>
              <ion-select-option value="2">Día</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="contenedor-texto">
          <h1>($){{valorFinal}}</h1>
        </div>
        <div class="contenedor-imagen">
          <img class="imagen-resumen" src="/assets/icon/grafico-rojo.svg">
        </div>
      </div>
    </div>
  </div>


</ion-content>
