<ion-header>
  <ion-toolbar>
    <ion-title>Gastos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Gasto<ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="gasto.titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Descripcion<ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="gasto.descripcion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Monto<ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="gasto.monto"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-datetime value="1990-02-19" placeholder="Select Date" [(ngModel)]="gasto.fecha"></ion-datetime>
  </ion-item>

  <ion-button size="medium" (click)="confirmar()">Guardar</ion-button>


</ion-content>
