ion-toolbar{
  --background: url("https://cdn.dribbble.com/users/159888/screenshots/4125708/treesandstuff.png")  no-repeat center / 100%;
  --opacity: 0.9;
  padding-bottom: 15%;
}

.header-md::after{
  width: 0% !important;
}

ion-title{
  --color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 24px;
}

.ion-button{
  --background: #9f5953;
  --background-activated:#9f5953;
  --background-focused:#9f5953;
  --background-hover:#9f5953;
  width: 70% !important;
  margin-left: 15% !important;
  margin-top: 5%;
  margin-bottom: 2%;
}

.ion-button-cancelar{
  --background: #9f5953;
  --background-activated: #9f5953;
  --background-focused: #9f5953;
  --background-hover: #9f5953;
  width: 70% !important;
  margin-left: 15% !important;
  margin-top: 0%;
  margin-bottom: 5%;
}

ion-avatar{
  --border-radius: 0%;
}

.contenedor-boton-archivo{
  width: 100%;
  background: red;
}

.input-archivo{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.contenedor{
  background: green !important;
  width: 100%;
  height: 100%;
}

.seleccionador-archivo{
  height: 100%;
  width: 100% !important;
  background: transparent;
  cursor: pointer;
  line-height: 350%;
  color: black;
}

.seleccionador-archivo-gris{
  height: 100%;
  width: 100% !important;
  background: transparent;
  cursor: pointer;
  line-height: 350%;
  color: #b3b3b3;
}

.texto-complementario{
  width: auto !important;
  color: #999999;
  text-align: right;
  background: red;
}

.item-archivo{
  --background: white;
  cursor: pointer;
  --border-color: transparent;
}

.item-archivo:hover{
  --background:#f5f5f5;
}

.item-card{
  --border-color:transparent;
}

.card{
  width: 30%;
  margin-left: 35%;
}

.ion-button-card{
  --background: #ad9571;
  --background-activated:#ad9571;
  --background-focused:#ad9571;
  --background-hover:#ad9571;
  width: 30% !important;
  margin-left: 35% !important;
}

.imagen{
  width: 100%;
}

.ion-label{
  text-align: center;
}

.grayscale { filter: grayscale(80%) !important; }

@media (max-width: 900px) {
  .card{
    width: 80%;
    height: auto;
    margin-left: 10%;
  }

  .imagen{
    max-width: 100%;
  }

}
