ion-toolbar{
  --background: url("https://cdn.dribbble.com/users/1803663/screenshots/6080532/kerala_paddy_field_2x.png")  no-repeat center / 100% 100%;
  --opacity: 0.9;
  padding-bottom: 2%;
  object-fit: cover;
}

ion-title{
  --color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 24px;
  padding-top: 2%;
  padding-bottom: 3%;
}

ion-content{
  --background: #f5f5f5;
}

.header-md::after{
  width: 0% !important;
}

.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.card-slider{
  background: white;
  width: auto !important;
}

.contenedor-mitades{
  width: 100%;
  display: flex;
}

.icono-card{
  width: 15%;
  margin-left: 42.5%;
}

ion-card{
  background: white;
}

.ion-card{
  background: white;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10%;
}

.derecha{
  width: 50%;
}

.centro{
  width: 50%;
}

.izquierda{
  width: 50%;
}

.contenedor-cards{
  display: flex;
  width: 100%;
}

.contenedor-grafico{
  width: 50% !important;
}

.contenedor-estadisticas{
  width: 50% !important;
}

@media (max-width: 1000px){

  .derecha{
    display: none;
  }

  .centro{
    width: 100%;
  }

  .izquierda{
    display: none;
  }

  .contenedor-cards{
    display: inline-block;
    width: 100%;
  }

  .contenedor-grafico{
    width: 100% !important;
  }

  .contenedor-estadisticas{
    width: 100% !important;
  }

}
