
<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-slides pager="true" [options]="slideOpts">
          <ion-slide>
            <div class="contenedor-mitades">
              <div class="derecha">
                <ion-card class="ion-card">
                  <ion-card-header>
                    <img class="icono-card" src="https://image.flaticon.com/icons/svg/1602/1602619.svg">
                    <ion-card-title style="text-align:center; margin-top:5%;">Productos más vendidos</ion-card-title>
                  </ion-card-header>
                  <h1 style="text-align:center">{{productos.length}}</h1>
                </ion-card>
              </div>
              <div class="centro">
                <ion-card class="ion-card">
                  <ion-card-header>
                    <img class="icono-card" src="https://image.flaticon.com/icons/svg/1602/1602619.svg">
                    <ion-card-title style="text-align:center; margin-top:5%;">Ventas del més</ion-card-title>
                  </ion-card-header>
                  <h1 style="text-align:center">{{productos.length}}</h1>
                </ion-card>
              </div>
              <div class="izquierda">
                <ion-card class="ion-card">
                  <ion-card-header>
                    <img class="icono-card" src="https://image.flaticon.com/icons/svg/1602/1602619.svg">
                    <ion-card-title style="text-align:center; margin-top:5%;">Ventas del més</ion-card-title>
                  </ion-card-header>
                  <h1 style="text-align:center">{{productos.length}}</h1>
                </ion-card>
              </div>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="contenedor-mitades">
              <div class="derecha">
                <ion-card class="ion-card">
                  <ion-card-header>
                    <img class="icono-card" src="https://image.flaticon.com/icons/svg/1602/1602619.svg">
                    <ion-card-title style="text-align:center; margin-top:5%;">Productos más vendidos</ion-card-title>
                  </ion-card-header>
                  <h1 style="text-align:center">{{productos.length}}</h1>
                </ion-card>
              </div>
              <div class="centro">
                <ion-card class="ion-card">
                  <ion-card-header>
                    <img class="icono-card" src="https://image.flaticon.com/icons/svg/1602/1602619.svg">
                    <ion-card-title style="text-align:center; margin-top:5%;">Ventas del més</ion-card-title>
                  </ion-card-header>
                  <h1 style="text-align:center">{{productos.length}}</h1>
                </ion-card>
              </div>
              <div class="izquierda">
                <ion-card class="ion-card">
                  <ion-card-header>
                    <img class="icono-card" src="https://image.flaticon.com/icons/svg/1602/1602619.svg">
                    <ion-card-title style="text-align:center; margin-top:5%;">Ventas del més</ion-card-title>
                  </ion-card-header>
                  <h1 style="text-align:center">{{productos.length}}</h1>
                </ion-card>
              </div>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="contenedor-mitades">
              <div class="derecha">
                <ion-card class="ion-card">
                  <ion-card-header>
                    <img class="icono-card" src="https://image.flaticon.com/icons/svg/1602/1602619.svg">
                    <ion-card-title style="text-align:center; margin-top:5%;">Productos más vendidos</ion-card-title>
                  </ion-card-header>
                  <h1 style="text-align:center">{{productos.length}}</h1>
                </ion-card>
              </div>
              <div class="centro">
                <ion-card class="ion-card">
                  <ion-card-header>
                    <img class="icono-card" src="https://image.flaticon.com/icons/svg/1602/1602619.svg">
                    <ion-card-title style="text-align:center; margin-top:5%;">Ventas del més</ion-card-title>
                  </ion-card-header>
                  <h1 style="text-align:center">{{productos.length}}</h1>
                </ion-card>
              </div>
              <div class="izquierda">
                <ion-card class="ion-card">
                  <ion-card-header>
                    <img class="icono-card" src="https://image.flaticon.com/icons/svg/1602/1602619.svg">
                    <ion-card-title style="text-align:center; margin-top:5%;">Ventas del més</ion-card-title>
                  </ion-card-header>
                  <h1 style="text-align:center">{{productos.length}}</h1>
                </ion-card>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
    </ion-toolbar>
  </ion-header>

  <div class="contenedor-grafico">
    <ion-card>
        <ion-card-header class="header-card">
          <ion-item>
           <ion-buttons>
             <ion-label>Tipo grafico</ion-label>
             <ion-select okText="Aceptar" cancelText="Cancelar" (ionChange)="dibujarGrafico()" [(ngModel)]="tipoActual">
               <ion-select-option value="{{tipo}}" *ngFor="let tipo of tipos;index as i">{{tipo.toUpperCase()}}</ion-select-option>
             </ion-select>
            </ion-buttons>
            <ion-buttons>
              <ion-button slot="end" (click)="exportar('rendimiento-por-persona')">
                <ion-icon name="cloud-download"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
      </ion-card-header>

      <ion-card-content>
        <canvas #radarCanvas id="rendimiento-por-persona"></canvas>
        <h2 *ngIf="!chart1"> No se ha cargado grafico aun</h2>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-button (click)="deslogear()">MATAR SESION</ion-button>
<!--
    <ion-card>
      <ion-label>Productos</ion-label>
      <h1 style="text-align:center">{{productos.length}}</h1>
    </ion-card>
    <ion-card>
      <ion-label>Clientes</ion-label>
      <h1 style="text-align:center">{{clientes.length}}</h1>
    </ion-card>
    <ion-card>
      <ion-label>El más vendido</ion-label>
      <h1 style="text-align:center">Tarjetas sofia</h1>
    </ion-card>
    <ion-card>
      <ion-label>Ventas del mes</ion-label>
      <h1 style="text-align:center">$245.025.025</h1>
    </ion-card>

-->
</ion-content>
