<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/reportes" routerDirection="root" color="dark">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Reporte de Gastos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor-resumenes escritorio">
    <div class="card-izquierda">
      <h1 class="monto-card">${{sieteUltimosDiasValor | number}}</h1>
      <h1 class="titulo-card">Ultimos 7 días</h1>
      <div class="grafico" id="chart1">
        <apx-chart [series]="options1.series" [chart]="options1.chart" [title]="title"></apx-chart>
      </div>
    </div>

    <div class="card-medio">
      <h1 class="monto-card">${{gastosMensuales.valor | number}}</h1>
      <h1 class="titulo-card">Este mes</h1>
      <div class="grafico" id="chart2">
        <apx-chart [series]="options2.series" [chart]="options2.chart" [title]="title"></apx-chart>
      </div>
    </div>

    <div class="card-derecha">
      <h1 class="monto-card">${{gastosAnuales.valor | number}}</h1>
      <h1 class="titulo-card">Este año</h1>
      <div class="grafico" id="chart3">
        <apx-chart [series]="options3.series" [chart]="options3.chart" [title]="title" style="padding-bottom:5%;"></apx-chart>
      </div>
    </div>
  </div>

  <div class="contenedor-resumenes celular">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <div class="card">
          <h1 class="monto-card">${{sieteUltimosDiasValor | number}}</h1>
          <h1 class="titulo-card">Ultimos 7 días</h1>
          <div class="grafico">
            <apx-chart [series]="options1.series" [chart]="options1.chart" [title]="title"></apx-chart>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="card">
          <h1 class="monto-card">${{gastosMensuales.valor | number}}</h1>
          <h1 class="titulo-card">Este mes</h1>
          <div class="grafico">
            <apx-chart [series]="options2.series" [chart]="options2.chart" [title]="title"></apx-chart>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="card">
          <h1 class="monto-card">${{gastosAnuales.valor | number}}</h1>
          <h1 class="titulo-card">Este año</h1>
          <div class="grafico">
            <apx-chart [series]="options3.series" [chart]="options3.chart" [title]="title" style="padding-bottom:5%;"></apx-chart>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="contenedor-principal">
    <div class="card-principal-arriba">
      <div class="card-informacion-principal">
        <h1 class="titulo-grafico-grande">Gastos Anuales ($)</h1>
        <div class="grafico-grande" id="chart4">
          <apx-chart [xaxis]="options4.xaxis" [series]="options4.series" [chart]="options4.chart" [title]="title"></apx-chart>
        </div>
      </div>

      <div class="card-informacion-principal">
        <h1 class="titulo-grafico-grande">Gastos más altos</h1>
        <div class="grafico-grande" id="chart5">
          <apx-chart [xaxis]="options5.xaxis" [series]="options5.series" [chart]="options5.chart" [colors]="options5.colors"></apx-chart>
        </div>
      </div>
    </div>

    <div class="card-principal-arriba">
      <div class="card-informacion-principal">
        <h1 class="titulo-grafico-grande">Tipo de documento más utilizado</h1>
        <div class="grafico-grande" id="chart7">
          <apx-chart [xaxis]="options7.xaxis" [series]="options7.series" [chart]="options7.chart" [colors]="options7.colors"></apx-chart>
        </div>
      </div>
    </div>
  </div>
</ion-content>
